.gradient-custom-4 {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background-size: 300%;
  background-position: right;

}
.gradient-custom-4:hover {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to right, #ef6a0a, #f9ac05, #ed0a61, #e513a6);
  background-position: left;
  transition:  background-position .7s ;
}
.gradient-custom-3 {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to left, #ee7724, #d8363a, #dd3675, #b44593);
    background-size: 300%;
    background-position: left;
  
  }
  .gradient-custom-3:hover {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to left, #ef6a0a, #f5f905, #ed0a61, #e513a6);
    background-position: right;
    transition:  background-position .7s ;
  }
.field {
  position: relative;
  height: 52px;
  width: 100%;
  overflow: hidden;
  padding: 5px 0;
}

.field input {
  position: absolute;
  height: 100%;
  width: 100%;
  order: 0;
  outline: 0;
  border: none;
}

.field .label-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.field .label-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid lightcoral;
  left: 0;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform .7s ease;
}

.field .label-text {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.2s ease;
}
.field input {
  font-size: 14px;
}
.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text {
  font-size: 12px;
  color: lightcoral;
  transform: translateY(-80%);
}
.field input::placeholder {
  opacity: 0;
}
.field input:focus::placeholder {
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
/* .field input:focus + .label-wrapper {
    border: 0;
  } */
.field input:focus + .label-wrapper::after,
.field input:valid + .label-wrapper::after {
  transform: translateX(0%);
}

@media (min-width: 1200px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-4 {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
}
